* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "sans-serif";
  color: white;
  background-color: rgb(164, 164, 164);
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100vw;
}

.controll-logo {
  width: 150px;
  height: 100px;
  padding: 10px;
}

.controll-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  background-color: #5bc2e7;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-family: inherit;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.active {
  background-color: rgb(0, 123, 255);
  transition: all 0.5s;
}

.map-container {
  display: grid;
  grid-template-areas:
    "side map map map map map map map"
    "side map map map map map map map"
    "side map map map map map map map";
  height: 100vh;
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: map;
}

.sidebar {
  padding: 20px;
  background-color: black;
  height: 100vh;
  grid-area: side;
  overflow-y: scroll;
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7880f8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.side-option {
  display: none;
  text-align: center;
}

.event,
.match,
.playground,
.academy {
  padding: 10px;
  background-color: #5bc2e7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.playground {
  max-width: 600px;
}

footer {
  width: 100vw;
  height: 150px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #5bc2e7;
}
ul {
  list-style-type: none;
}

li {
  text-align: center;
}

input {
  border: 0;
  border-bottom: 2px solid #000000;
  outline: none;
  background: none;
  color: white;
  font-family: inherit;
  padding: 5px;
  font-size: 16px;
}

input::placeholder {
  color: white;
}

.search-btn {
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-family: "Montserrat", "sans-serif";
  background-color: black;
  border-radius: 5px;
}

.content-box {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5bc2e7;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1a789b;
  width: 100vw;
}

.control-form {
  margin-top: 10px;
}

.result-team-holder,
.result-player-holder {
  padding: 15px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.team,
.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #074359;
  border-radius: 5px;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 51, 73);
  border-radius: 5px;
  padding: 10px;
}

.control-field,
.coords {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.separate {
  margin: 10px;
}

select {
  outline: 0;
  background-color: #5bc2e7;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  transition: all 0.5;
  font-family: inherit;
}

select:active,
select:hover {
  background-color: rgb(9, 80, 139);
}

option {
  border: none;
  outline: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
  font-family: inherit;
  padding: 10px;
  background: none;
  color: white;
  font-size: 16px;
}

textarea::placeholder {
  font-size: 12px;
}

.btns-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.decrease-btn {
  background-color: red;
}

.increase-btn {
  background-color: greenyellow;
}

.btn-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn,
.popup-btn {
  background-color: darkblue;
}

.teams {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.logo {
  padding: 5px;
  margin: 5px;
}

.name,
.game-date {
  display: flex;
  align-items: center;
}

.versus {
  text-align: center;
}

.small-logo {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.small-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.medium-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 100px;
  width: 100px;
}

.medium-logo img {
  height: 100%;
  width: 100%;
}

.good {
  color: greenyellow;
}

.bad {
  color: rgb(255, 34, 0);
}

#persons-needed {
  border: none;
  text-align: center;
  padding: 0px;
}

.popup-style {
  background-color: rgb(41, 170, 245);
  color: white;
}

.add-new-team.btn {
  background-color: #074359;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.popup-form,
.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-form {
  display: none;
  background-color: rgba(0, 0, 0, 0.755);
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.close-btn.btn {
  background-color: rgb(248, 43, 43);
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.add-team-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(2, 155, 221);
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background-color: rgb(70, 129, 255);
  border-radius: 5px;
}

.form-field input {
  border: 0;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: rgb(2, 155, 221);
  color: white;
  border-radius: 10px;
  padding: 1px;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: rgb(2, 155, 221);
}

.leaflet-popup .leaflet-popup-content {
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

a i {
  font-size: 1.5rem;
  margin: 5px;
}

.show-info {
  position: absolute;
  left: 50%;
  top: 100%;
  background-color: #074359;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;
  opacity: 0;
  transition: all 0.5s;
}

/* transform: translate(0%, -61%);*/

.info-head {
  display: flex;

  flex-direction: column;
}

.top-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid white;
}

.info-set {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  padding: 15px;
  margin: 10px;
  background-color: #006fd7;
  border-radius: 50%;
}

.info-when,
.action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.action-btns {
  padding: 3px;
}

.day,
.time,
.sequence {
  background-color: white;
  color: black;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 450;
  margin: 5px;
}

.sequence {
  background: none;
  color: white;
}

.small-icon {
  font-size: 16px;
  margin: 5px;
}

.action-btns button {
  border: 0;
  outline: 0;
  background-color: #006fd7;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
